
/* Pon tu código css aqui */
* {
	margin: 0;
	padding: 0;
}


.box {
	width: 200px;
	height: 200px;
}

.red {
	background-color: #ee3e64;
	position: absolute;
	left: 0;
}

.blue {
	background-color: #44accf;
	position:absolute;
	right: 0;
}

.green {
	background-color: #b7d84b;
	position: absolute;
	left: 0;
	bottom: 0;
}

.yellow {
	background-color: yellow;
	position: absolute;
	right: 0;
	bottom: 0;
}